@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --color-white: hsl(0, 0%, 100%);
  --color-text: hsl(0 0% 100%);
  --color-text-unselect: hsl(0 0% 100% / 0.6);
  --color-text-subtitle: hsla(240 3.83% 46.08%);
  /* colors background */
  --bg-transparent: hsla(0, 0%, 0%, 0);
  --bg-black: hsl(0, 0%, 12%);
  --bg-primary: hsl(219, 13%, 22%);
  --bg-start: hsl(216, 18%, 16%);
  --bg-end: hsl(0, 0%, 12%);
  /* colors border */
  --color-border-primary: hsl(280, 2%, 25%);
  --color-border-secundary: hsl(240 3.7% 15.88%);
  /* colors button */
  --color-btn: transparent;
  --color-btn-select: hsla(212.14 100% 38.43%);
  --color-btn-hover: hsla(240 5.26% 26.08%);
  /* border */
  --border-primary: 0.8px solid var(--color-border-primary);
  --border-secundary: 1px solid var(--color-border-secundary);
  /* shadow */
  --box-shadow: 5px 5px 15px 5px hsla(0, 0%, 10%, 0.1);
}

body {
  color: var(--color-text);
  background: linear-gradient(to bottom, transparent, var(--bg-end))
    var(--bg-start);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  color: var(--color-text);
}

.clerk {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  height: 100%;
  padding: 1.5rem;
  background-color: var(--bg-transparent);
  border: var(--border-primary);
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--color-text-subtitle);
}
